p {
    font-family;
    color: #ffffff;
}



.header-content {
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    min-height: 1024px;
    background-image: url(../img/background-photo-header.jpg);
    background-size: 100%;
    background-repeat: no-repeat;

    
}

.header-top {
    width: 100%;
    margin: ;
    display: flex;
    justify-content: flex-start;
    padding: 37px 0 0 377px;
}

.menu {
    padding-right: 50px;
}

.menu-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.menu-list-item {
    list-style-type: none;
    margin-right: 23px;
}


.menu-list-item:last-child {
    margin-right: 0;
}

.menu-link {
    text-decoration: none;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300;
    color: #ffffff;
}

.menu-link:hover {
    color: #c7b299;
}

.menu-link:active {
    color: #c7b299;
}

.header-icon {
}

.site-name {
    text-decoration: none;
    font-family: Raleway;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: -0.04em;
    color: #ffffff;
    display: flex;
    align-items: center;
    margin-right: 182px;
}

.site-name:hover {
    color: #c7b299;
}

.site-name:active {
    color: #c7b299;
}

.logo-icon {
    fill: #ffffff;
}

.logo-icon:hover {
    fill: #c7b299;
}

.logo-icon:active {
    fill: #c7b299;
}

.card {
    margin-left: 46px;
    background: none;
    border: 0;   
    fill: #ffffff; 
}

.card:hover {
    fill: #c7b299;
}

.card:active {
    fill: #c7b299;
}

.search {
    margin-left: 18px;
    background: none;
    border: 0;
    fill: #ffffff;
}


.search:hover {
    fill: #c7b299;
}

.search:active {
    fill: #c7b299;
}